.panel {
  min-width: 400px;
  max-width: 40%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 920px) {
  .panel {
    min-width: 200px;
    max-width: 100%;
  }
}