.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.input {
    color: black;
}

.input_invalid {
  border: 1px pink solid;
  background-color: darksalmon;
}