.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.form-row {
  display: flex;
  width: 100%;
  align-items: center;
}

.button-archive {
  width: 30px;
  height: 30px;
  opacity: 0.4;
  border-radius: 50%;
  border: 1px solid var(--primary-light);
  padding: 4px;
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.button-archive_theme_dark {
  background-color: transparent;
}

.button-archive_theme_light{
  background-color: var(--secondary-light);
}

.button-archive:hover {
  opacity: 1;
}

.button-archive_theme_dark:hover {
  background-color: var(--accent-dark);
}

.button-archive_theme_light:hover {
  background-color: var(--accent-light);
}

.input-textarea {
  width: 100%;
  padding: 10px;
  background: none;
  border-radius: 3px;
  min-height: 300px;
  border: 1px solid;
  resize: none;
}

.input-textarea_theme_dark {
  color: var(--primary-light);
  border-color: var(--transparent-light);
}

.input-textarea_theme_light {
  color: var(--secondary-dark);
  border-color: var(--secondary-light);
}

.input-textarea:focus {
  outline: none;
}

.input-textarea_theme_dark:focus {
  background-color: var(--transparent-dark);
  border-color: transparent;
}

.input-textarea_theme_light:focus {
  background-color: var(--background-light);
}

.input_invalid {
  border: 1px var(--error) solid;
}

.label-wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  min-width: 150px;
}

.label {
  opacity: 0.6;
  font-size: 14px;
  font-weight: 600;
}

.label_theme_dark {
  color: var(--primary-light);
}

.label_theme_light {
  color: var(--secondary-dark);
}
