.journal-item {
  font-size: 18px;
}

.journal-item__title {
  font-weight: 600;
  text-align: left;
}

.journal-item__body {
  display: flex;
  gap: 10px;
}

.journal-item__text, 
.journal-item__date {
  color: rgba(255, 255, 255, 0.60);
}