.journal-item {
  font-size: 18px;
}

.journal-item__title {
  font-weight: 600;
  text-align: left;
}

.journal-item__body {
  display: flex;
  gap: 10px;
  max-height: 120px;
}

.journal-item__text, 
.journal-item__date {

  opacity: 0.6;
}

.journal-item__text {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.journal-item__text_theme_dark,
.journal-item__date_theme_dark {
  color: var(--primary-light);
}

.journal-item__text_theme_light,
.journal-item__date_theme_light,
.journal-item__title_theme_light {
  color: var(--primary-dark);
}